@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface text-white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}
